<h1> <%= @course.name %></h1>

<section class="students">
  <% @ordered_course_students.each do |course_student| %>
      <ul><%= course_student.student.name %>:<%= course_student.grade %></ul>
  <% end %>
</section>
